body {
  margin: 0;
  font-family: 'Poppins', 'Inter', 'Monospace',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Inter', 'Monospace', source-code-pro, Menlo, Monaco,
    monospace;
}

#root {
  background-color: #CCCCFF;
}
